<a href="https://colab.research.google.com/github/danpires97/IA/blob/main/Proj_IA_Copa_do_Mundo_Daniel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  import pandas as pd

Base de dados utilizada: 
https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017

In [ ]:
results = pd.read_csv('/content/sample_data/results.csv', parse_dates=['date'])

In [ ]:
results.head(20)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False

In [ ]:
wc = results[results['tournament'] == 'FIFA World Cup'] #Selecionando somente as partidas de Copa

In [ ]:
wc.head(15)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
1316,1930-07-16,Chile,Mexico,3,0,FIFA World Cup,Montevideo,Uruguay,True
1317,1930-07-17,Bolivia,Yugoslavia,0,4,FIFA World Cup,Montevideo,Uruguay,True
1318,1930-07-17,Paraguay,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1320,1930-07-18,Uruguay,Peru,1,0,FIFA World Cup,Montevideo,Uruguay,False
1321,1930-07-19,Argentina,Mexico,6,3,FIFA World Cup,Montevideo,Uruguay,True
1322,1930-07-19,Chile,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
1323,1930-07-20,Belgium,Paraguay,0,1,FIFA World Cup,Montevideo,Uruguay,True
1324,1930-07-20,Bolivia,Brazil,0,4,FIFA World Cup,Montevideo,Uruguay,True
1325,1930-07-21,Uruguay,Romania,4,0,FIFA World Cup,Montevideo,Uruguay,False
1326,1930-07-22,Argentina,Chile,3,1,FIFA World Cup,Montevideo,Uruguay,True

filtrei somente as partidas de Copa do Mundo

In [ ]:
wc['year'] = results['date'].dt.year

<ipython-input-98-d041f07269c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wc['year'] = results['date'].dt.year

In [ ]:
wc

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,1930
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,1930
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1930
...,...,...,...,...,...,...,...,...,...,...
12608,1982-07-05,Spain,England,0,0,FIFA World Cup,Madrid,Spain,False,1982
12610,1982-07-08,Germany,France,3,3,FIFA World Cup,Seville,Spain,True,1982
12612,1982-07-08,Poland,Italy,0,2,FIFA World Cup,Barcelona,Spain,True,1982
12613,1982-07-10,Poland,France,3,2,FIFA World Cup,Alicante,Spain,True,1982
12615,1982-07-11,Italy,Germany,3,1,FIFA World Cup,Madrid,Spain,True,1982

As informaÃ§Ãµes de time de casa e do time visitante nÃ£o sÃ£o importantes para essa anÃ¡lise que se prende ao saldo de gols por ano.

In [ ]:
home_scores = wc[['home_team','home_score','year']].rename({'home_team':'team','home_score':'score'}, axis='columns')
away_scores = wc[['away_team','away_score','year']].rename({'away_team':'team','away_score':'score'}, axis='columns')

In [ ]:
home_scores

            team  score  year
1311     Belgium      0  1930
1312      France      4  1930
1313      Brazil      1  1930
1314        Peru      1  1930
1315   Argentina      1  1930
...          ...    ...   ...
12608      Spain      0  1982
12610    Germany      3  1982
12612     Poland      0  1982
12613     Poland      3  1982
12615      Italy      3  1982

[360 rows x 3 columns]

In [ ]:
away_scores

                team  score  year
1311   United States      3  1930
1312          Mexico      1  1930
1313      Yugoslavia      2  1930
1314         Romania      3  1930
1315          France      0  1930
...              ...    ...   ...
12608        England      0  1982
12610         France      3  1982
12612          Italy      2  1982
12613         France      2  1982
12615        Germany      1  1982

[360 rows x 3 columns]

Na visualizaÃ§Ã£o pretendida Ã© pretendido saber quais os gols que o time fez por cada ano de copa, sem se importar se Ã© dentro ou fora de casa.

In [ ]:
scores_wc = pd.concat([home_scores, away_scores]).reset_index(drop=True).fillna(0)

In [ ]:
scores_wc

          team  score  year
0      Belgium      0  1930
1       France      4  1930
2       Brazil      1  1930
3         Peru      1  1930
4    Argentina      1  1930
..         ...    ...   ...
715    England      0  1982
716     France      3  1982
717      Italy      2  1982
718     France      2  1982
719    Germany      1  1982

[720 rows x 3 columns]

In [ ]:
scores_wc.groupby(['team','year']).score.sum().unstack().fillna(0)

year,1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982
team,,,,,,,,,,,,
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
Argentina,18.0,2.0,0.0,0.0,0.0,5.0,2.0,4.0,0.0,9.0,15.0,8.0
Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Austria,0.0,7.0,0.0,0.0,17.0,2.0,0.0,0.0,0.0,0.0,7.0,5.0
Belgium,0.0,2.0,1.0,0.0,5.0,0.0,0.0,0.0,4.0,0.0,0.0,3.0
Bolivia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Brazil,5.0,1.0,14.0,22.0,8.0,16.0,14.0,4.0,19.0,6.0,10.0,15.0
Bulgaria,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,2.0,0.0,0.0
Cameroon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Chile,5.0,0.0,0.0,5.0,0.0,0.0,10.0,2.0,0.0,1.0,0.0,3.0
Colombia,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
Cuba,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Czechoslovakia,0.0,9.0,5.0,0.0,0.0,9.0,7.0,0.0,2.0,0.0,0.0,2.0
DR Congo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Egypt,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
El Salvador,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
England,0.0,0.0,0.0,2.0,8.0,4.0,5.0,11.0,4.0,0.0,0.0,6.0
France,4.0,2.0,4.0,0.0,3.0,23.0,0.0,2.0,0.0,0.0,5.0,16.0
German DR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
Germany,0.0,11.0,3.0,0.0,25.0,12.0,4.0,15.0,17.0,13.0,10.0,12.0
Haiti,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
Honduras,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
Hungary,0.0,5.0,15.0,0.0,27.0,7.0,8.0,8.0,0.0,0.0,3.0,12.0
Indonesia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Iran,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
Israel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Italy,0.0,12.0,11.0,4.0,6.0,0.0,3.0,2.0,10.0,5.0,9.0,12.0
Kuwait,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
Mexico,4.0,0.0,0.0,2.0,2.0,1.0,3.0,1.0,6.0,0.0,2.0,0.0
Morocco,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
Netherlands,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,0.0
New Zealand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
North Korea,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
Northern Ireland,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,5.0
Norway,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Paraguay,1.0,0.0,0.0,2.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
Peru,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,7.0,2.0
Poland,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,6.0,11.0
Portugal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0
Romania,3.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
Russia,0.0,0.0,0.0,0.0,0.0,5.0,9.0,10.0,6.0,0.0,0.0,7.0
Scotland,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,3.0,5.0,8.0
South Korea,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Spain,0.0,4.0,0.0,10.0,0.0,0.0,2.0,4.0,0.0,0.0,2.0,4.0
Sweden,0.0,4.0,11.0,11.0,0.0,12.0,0.0,0.0,2.0,7.0,1.0,0.0
Switzerland,0.0,5.0,5.0,4.0,11.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0
Tunisia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
Turkey,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
United States,7.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Uruguay,15.0,0.0,0.0,15.0,16.0,0.0,4.0,2.0,4.0,1.0,0.0,0.0
Wales,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
Yugoslavia,7.0,0.0,0.0,7.0,2.0,7.0,10.0,0.0,0.0,12.0,0.0,2.0

In [ ]:
acumulative_scores_wc = scores_wc.groupby(['team','year']).score.sum().unstack().fillna(0).cumsum(axis=1).reset_index()

In [ ]:
acumulative_scores_wc

year,team,1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982
0,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,Argentina,18.0,20.0,20.0,20.0,20.0,25.0,27.0,31.0,31.0,40.0,55.0,63.0
2,Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Austria,0.0,7.0,7.0,7.0,24.0,26.0,26.0,26.0,26.0,26.0,33.0,38.0
4,Belgium,0.0,2.0,3.0,3.0,8.0,8.0,8.0,8.0,12.0,12.0,12.0,15.0
5,Bolivia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Brazil,5.0,6.0,20.0,42.0,50.0,66.0,80.0,84.0,103.0,109.0,119.0,134.0
7,Bulgaria,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,7.0,9.0,9.0,9.0
8,Cameroon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,Chile,5.0,5.0,5.0,10.0,10.0,10.0,20.0,22.0,22.0,23.0,23.0,26.0
10,Colombia,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0
11,Cuba,0.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
12,Czechoslovakia,0.0,9.0,14.0,14.0,14.0,23.0,30.0,30.0,32.0,32.0,32.0,34.0
13,DR Congo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Egypt,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
15,El Salvador,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,England,0.0,0.0,0.0,2.0,10.0,14.0,19.0,30.0,34.0,34.0,34.0,40.0
17,France,4.0,6.0,10.0,10.0,13.0,36.0,36.0,38.0,38.0,38.0,43.0,59.0
18,German DR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0
19,Germany,0.0,11.0,14.0,14.0,39.0,51.0,55.0,70.0,87.0,100.0,110.0,122.0
20,Haiti,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0
21,Honduras,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
22,Hungary,0.0,5.0,20.0,20.0,47.0,54.0,62.0,70.0,70.0,70.0,73.0,85.0
23,Indonesia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,Iran,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
25,Israel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
26,Italy,0.0,12.0,23.0,27.0,33.0,33.0,36.0,38.0,48.0,53.0,62.0,74.0
27,Kuwait,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
28,Mexico,4.0,4.0,4.0,6.0,8.0,9.0,12.0,13.0,19.0,19.0,21.0,21.0
29,Morocco,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0
30,Netherlands,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,17.0,32.0,32.0
31,New Zealand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
32,North Korea,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,5.0,5.0
33,Northern Ireland,0.0,0.0,0.0,0.0,0.0,6.0,6.0,6.0,6.0,6.0,6.0,11.0
34,Norway,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
35,Paraguay,1.0,1.0,1.0,3.0,3.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
36,Peru,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,10.0,10.0,17.0,19.0
37,Poland,0.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,21.0,27.0,38.0
38,Portugal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,17.0,17.0,17.0,17.0
39,Romania,3.0,4.0,8.0,8.0,8.0,8.0,8.0,8.0,12.0,12.0,12.0,12.0
40,Russia,0.0,0.0,0.0,0.0,0.0,5.0,14.0,24.0,30.0,30.0,30.0,37.0
41,Scotland,0.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,7.0,12.0,20.0
42,South Korea,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,Spain,0.0,4.0,4.0,14.0,14.0,14.0,16.0,20.0,20.0,20.0,22.0,26.0
44,Sweden,0.0,4.0,15.0,26.0,26.0,38.0,38.0,38.0,40.0,47.0,48.0,48.0
45,Switzerland,0.0,5.0,10.0,14.0,25.0,25.0,27.0,28.0,28.0,28.0,28.0,28.0
46,Tunisia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0
47,Turkey,0.0,0.0,0.0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
48,United States,7.0,8.0,8.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
49,Uruguay,15.0,15.0,15.0,30.0,46.0,46.0,50.0,52.0,56.0,57.0,57.0,57.0
50,Wales,0.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
51,Yugoslavia,7.0,7.0,7.0,14.0,16.0,23.0,33.0,33.0,33.0,45.0,45.0,47.0

In [ ]:
acumulative_scores_wc.shape

(52, 13)

In [ ]:
acumulative_scores_wc[acumulative_scores_wc['team'] == 'United States']

year,team,1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982
48,United States,7.0,8.0,8.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0

In [ ]:
flags = pd.read_csv('/content/sample_data/countries-fifa-flags.csv')

In [ ]:
flags.shape

(211, 4)

In [ ]:
flags[flags['country'] == 'United States of America']

,code,country,confederation,url
200,USA,United States of America,CONCACF,https://countryflagsapi.com/png/united%20state...

In [ ]:
flags = flags.replace(to_replace="United States of America", value="United States")

In [ ]:
flags.shape

(211, 4)

In [ ]:
flags

,code,country,confederation,url
0,AFG,Afghanistan,AFC,https://countryflagsapi.com/png/afghanistan
1,AIA,Anguilla,CONCACF,https://countryflagsapi.com/png/anguilla
2,ALB,Albania,UEFA,https://countryflagsapi.com/png/albania
3,ALG,Algeria,CAF,https://countryflagsapi.com/png/algeria
4,ASA,American Samoa,OFC,https://countryflagsapi.com/png/american%20samoa
...,...,...,...,...
206,ISV,US Virgin Islands,CONCACF,https://countryflagsapi.com/png/us%20virgin%20...
207,WAL,Wales,UEFA,https://countryflagsapi.com/png/wales
208,YEM,Yemen,AFC,https://countryflagsapi.com/png/yemen
209,ZAM,Zambia,CAF,https://countryflagsapi.com/png/zambia
210,ZIM,Zimbabwe,CAF,https://countryflagsapi.com/png/zimbabwe

In [ ]:
flags[flags['country'] == 'United States']

,code,country,confederation,url
200,USA,United States,CONCACF,https://countryflagsapi.com/png/united%20state...

In [ ]:
acumulative_scores_wc.merge(flags, left_on='team', right_on='country', how='left').reset_index()

,index,team,1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982,code,country,confederation,url
0,0,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,ALG,Algeria,CAF,https://countryflagsapi.com/png/algeria
1,1,Argentina,18.0,20.0,20.0,20.0,20.0,25.0,27.0,31.0,31.0,40.0,55.0,63.0,ARG,Argentina,CONMEBOL,https://countryflagsapi.com/png/argentina
2,2,Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AUS,Australia,OFC,https://countryflagsapi.com/png/australia
3,3,Austria,0.0,7.0,7.0,7.0,24.0,26.0,26.0,26.0,26.0,26.0,33.0,38.0,AUT,Austria,UEFA,https://countryflagsapi.com/png/austria
4,4,Belgium,0.0,2.0,3.0,3.0,8.0,8.0,8.0,8.0,12.0,12.0,12.0,15.0,BEL,Belgium,UEFA,https://countryflagsapi.com/png/belgium
5,5,Bolivia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BOL,Bolivia,CONMEBOL,https://countryflagsapi.com/png/bolivia
6,6,Brazil,5.0,6.0,20.0,42.0,50.0,66.0,80.0,84.0,103.0,109.0,119.0,134.0,BRA,Brazil,CONMEBOL,https://countryflagsapi.com/png/brazil
7,7,Bulgaria,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,7.0,9.0,9.0,9.0,BUL,Bulgaria,UEFA,https://countryflagsapi.com/png/bulgaria
8,8,Cameroon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,CMR,Cameroon,CAF,https://countryflagsapi.com/png/cameroon
9,9,Chile,5.0,5.0,5.0,10.0,10.0,10.0,20.0,22.0,22.0,23.0,23.0,26.0,CHI,Chile,CONMEBOL,https://countryflagsapi.com/png/chile
10,10,Colombia,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,COL,Colombia,CONMEBOL,https://countryflagsapi.com/png/colombia
11,11,Cuba,0.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,CUB,Cuba,CONMEBOL,https://countryflagsapi.com/png/cuba
12,12,Czechoslovakia,0.0,9.0,14.0,14.0,14.0,23.0,30.0,30.0,32.0,32.0,32.0,34.0,NaN,NaN,NaN,NaN
13,13,DR Congo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
14,14,Egypt,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,EGY,Egypt,CAF,https://countryflagsapi.com/png/egypt
15,15,El Salvador,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,ESA,El Salvador,CONCACF,https://countryflagsapi.com/png/el%20salvador
16,16,England,0.0,0.0,0.0,2.0,10.0,14.0,19.0,30.0,34.0,34.0,34.0,40.0,ENG,England,UEFA,https://countryflagsapi.com/png/england
17,17,France,4.0,6.0,10.0,10.0,13.0,36.0,36.0,38.0,38.0,38.0,43.0,59.0,FRA,France,UEFA,https://countryflagsapi.com/png/france
18,18,German DR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN
19,19,Germany,0.0,11.0,14.0,14.0,39.0,51.0,55.0,70.0,87.0,100.0,110.0,122.0,GER,Germany,UEFA,https://countryflagsapi.com/png/germany
20,20,Haiti,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,HAI,Haiti,CONCACF,https://countryflagsapi.com/png/haiti
21,21,Honduras,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,HON,Honduras,CONCACF,https://countryflagsapi.com/png/honduras
22,22,Hungary,0.0,5.0,20.0,20.0,47.0,54.0,62.0,70.0,70.0,70.0,73.0,85.0,HUN,Hungary,UEFA,https://countryflagsapi.com/png/hungary
23,23,Indonesia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,INA,Indonesia,AFC,https://countryflagsapi.com/png/indonesia
24,24,Iran,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN
25,25,Israel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,ISR,Israel,UEFA,https://countryflagsapi.com/png/israel
26,26,Italy,0.0,12.0,23.0,27.0,33.0,33.0,36.0,38.0,48.0,53.0,62.0,74.0,ITA,Italy,UEFA,https://countryflagsapi.com/png/italy
27,27,Kuwait,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,KUW,Kuwait,AFC,https://countryflagsapi.com/png/kuwait
28,28,Mexico,4.0,4.0,4.0,6.0,8.0,9.0,12.0,13.0,19.0,19.0,21.0,21.0,MEX,Mexico,CONCACF,https://countryflagsapi.com/png/mexico
29,29,Morocco,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,MAR,Morocco,CAF,https://countryflagsapi.com/png/morocco
30,30,Netherlands,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,17.0,32.0,32.0,NED,Netherlands,UEFA,https://countryflagsapi.com/png/netherlands
31,31,New Zealand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NZL,New Zealand,OFC,https://countryflagsapi.com/png/new%20zealand
32,32,North Korea,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN
33,33,Northern Ireland,0.0,0.0,0.0,0.0,0.0,6.0,6.0,6.0,6.0,6.0,6.0,11.0,NIR,Northern Ireland,UEFA,https://countryflagsapi.com/png/northern%20ire...
34,34,Norway,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NOR,Norway,UEFA,https://countryflagsapi.com/png/norway
35,35,Paraguay,1.0,1.0,1.0,3.0,3.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,PAR,Paraguay,CONMEBOL,https://countryflagsapi.com/png/paraguay
36,36,Peru,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,10.0,10.0,17.0,19.0,PER,Peru,CONMEBOL,https://countryflagsapi.com/png/peru
37,37,Poland,0.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,21.0,27.0,38.0,POL,Poland,UEFA,https://countryflagsapi.com/png/poland
38,38,Portugal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,17.0,17.0,17.0,17.0,POR,Portugal,UEFA,https://countryflagsapi.com/png/portugal
39,39,Romania,3.0,4.0,8.0,8.0,8.0,8.0,8.0,8.0,12.0,12.0,12.0,12.0,ROM,Romania,UEFA,https://countryflagsapi.com/png/romania
40,40,Russia,0.0,0.0,0.0,0.0,0.0,5.0,14.0,24.0,30.0,30.0,30.0,37.0,NaN,NaN,NaN,NaN
41,41,Scotland,0.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,7.0,12.0,20.0,SCO,Scotland,UEFA,https://countryflagsapi.com/png/scotland
42,42,South Korea,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
43,43,Spain,0.0,4.0,4.0,14.0,14.0,14.0,16.0,20.0,20.0,20.0,22.0,26.0,ESP,Spain,UEFA,https://countryflagsapi.com/png/spain
44,44,Sweden,0.0,4.0,15.0,26.0,26.0,38.0,38.0,38.0,40.0,47.0,48.0,48.0,SWE,Sweden,UEFA,https://countryflagsapi.com/png/sweden
45,45,Switzerland,0.0,5.0,10.0,14.0,25.0,25.0,27.0,28.0,28.0,28.0,28.0,28.0,SUI,Switzerland,UEFA,https://countryflagsapi.com/png/switzerland
46,46,Tunisia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,TUN,Tunisia,CAF,https://countryflagsapi.com/png/tunisia
47,47,Turkey,0.0,0.0,0.0,0.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,TUR,Turkey,UEFA,https://countryflagsapi.com/png/turkey
48,48,United States,7.0,8.0,8.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,NaN,NaN,NaN,NaN
49,49,Uruguay,15.0,15.0,15.0,30.0,46.0,46.0,50.0,52.0,56.0,57.0,57.0,57.0,URU,Uruguay,CONMEBOL,https://countryflagsapi.com/png/uruguay
50,50,Wales,0.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,WAL,Wales,UEFA,https://countryflagsapi.com/png/wales
51,51,Yugoslavia,7.0,7.0,7.0,14.0,16.0,23.0,33.0,33.0,33.0,45.0,45.0,47.0,NaN,NaN,NaN,NaN

In [ ]:
acumulative_scores_wc.shape

(52, 13)

In [ ]:
acumulative_scores_wc = acumulative_scores_wc.replace(to_replace="German DR", value="Germany")

In [ ]:
acumulative_scores_wc.shape

(52, 13)

In [ ]:
acumulative_scores_wc.to_csv('fifa_scores_flourish_NOT_modified', index=False)